html{
    box-sizing: border-box;
    font-size: 62.5%;
}

body{
    font-size: 16px;
}

.ocultar{
    display: none;
}
.contenedor{
    margin: 0 auto;
    max-width: 120rem;
    width: 95%;
}

/*encabezado*/

.encabezado{
    background-color: antiquewhite;
    height: 100vh;
    min-height: 70rem;
    background-size: cover;
    background-position: center center;
    position: relative;
    z-index: 1;
}

.encabezado::before{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1;
}

.logo h2{
    font-size: 3rem;
    font-family: 'roboto', sans-serif;
}

.logo h2 span{
    color:blue
}

.contenido-navegacion{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: white;
    box-shadow: 10px 10px 16px -6px rgba(0, 0, 0, 0.45);
}

.navegacion{
    background-color: white;
    position: absolute;
    left: 0;
    top: 70px;
    width: 100px;
    animation: desplazamiento .5s ease-in-out;
}

.navegacion a{
    display: block;
    font-size: 2rem;
    padding: 1.1rem;
    color: #0a1128;
    text-decoration: none;
    transition: background-color .3s ease-in-out;
}