html{
    box-sizing: border-box;
    font-size: 62.5%;
}

body{
    font-size: 16px;
}

*,*::before, *::after{
    box-sizing: inherit;
}


.contenedor{
    margin: 0 auto;
    max-width: 120rem;
    width: 95%;
}

/*encabezado*/

/*.encabezado{
    background-color: antiquewhite;
    height: 100vh;
    min-height: 70rem;
    background-size: cover;
    background-position: center center;
    position: relative;
    z-index: 1;
}

.encabezado::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0,.5);
    z-index: -1;
}

.logo h2{
    font-size: 3rem;
    font-family: 'roboto', sans-serif;
}

.logo h2 span{
    color:blue
}

.contenido-navegacion{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: white;
    box-shadow: 10px 10px 16px -6px rgba(0, 0, 0, 0.45);
}

.navegacion{
    background-color: white;
    position: absolute;
    left: 0;
    top: 70px;
    width: 100px;
    animation: desplazamiento .5s ease-in-out;
}

.ocultar{
    display: none;
}

@media(min-width: 768px){
    .ocultar{
        display: inline;
    }
}

.navegacion a{
    font-family: 'montserrat', sans-serif;
    display: block;
    font-size: 2rem;
    padding: 1.1rem;
    color: #0a1128;
    text-decoration: none;
    transition: background-color .3s ease-in-out;
}

.navegacion a:hover{
    background-color: blue;
    color: white;
}

@media(min-width: 768px){
    .navegacion a{
        display: inline;
    }
}

@media(min-width: 768px){
    .navegacion {
        position: relative;
        top: unset;
        width: auto;
        background-color: unset;
        animation: unset;
    }
}

.hamburguesa span{
    width: 4rem;
    height: 1rem;
    border: 3px solid white;
    background-color: #0a1128;
    display: block;
}

@media(min-width: 768px){
    .hamburguesa{
        display: none;
    }
}*/

/*formulario*/

/*.contenedor-formulario{
    display: flex;
    margin-top: 20px;
}*/

.imagen-formulario{
    background-image: url('../img/91bef22733e2836b684d77354970f4cc.jpg');
    background-position: center center;
    background-size: cover;
    height: 200px;
    flex: 0 0 calc(60%); 
    position: relative;
}

.imagen-formulario::before{
    content: '';
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    background: linear-gradient(to right,rgba(141,169,196,.5), rgba(19,64,116,.5));
}
@media(min-width: 768px){
    .imagen-formulario{
        height: auto;
        background-position: right;
    }
}
@media(min-width: 1200px){
    .contenedor-formulario{
        background-position: center;
    }
}

@media(min-width: 768px){
    .contenedor-formulario{
        display: flex;
    }
}

.formulario{
    padding: 50px;
    background-color: rgb(151, 186, 226);
}

.texto-formulario h2, .input label{
    color: black;
}
.texto-formulario h2{
    font-size: 50px;
    text-align: center;
}
.texto-formulario p{
    font-size: 22px;
    text-align: center;
}
.input label{
    display: block;
    font-size: 22px;
    margin: 20px 0;
}

.input input{
    width: 100%;
    padding: 10px 16px;
    border-radius: 5px;
    outline: none;
}

.input :focus{
    color: #5d5e5d;
}

.input button[type="submit"]{
    width: 100%;
    padding: 10px 16px;
    border-radius: 5px;
    outline: none;
    background-color: rgb(53, 53, 249);
    color: white;
    font-size: 18px;
    border: none;
    margin-top: 20px;
    transition: background-color .3s ease-in-out;
}

.input button[type="submit"]:hover{
    cursor: pointer;
    background-color: darkblue;
}